<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
  
  <extension
         point="org.eclipse.ui.newWizards">
    <category
          id="com.github.generategwtrfproxy.newWizards"
          name="Google Web Toolkit">
    </category>
    <wizard
          category="com.github.generategwtrfproxy.newWizards"
          class="com.github.generategwtrfproxy.wizards.GenProxyWizard"
          icon="icons/new-proxy.png"
          id="com.google.gwt.eclipse.core.newEntryPointWizard"
          name="RequestFactory Proxy">
    </wizard>
   </extension>
  
   <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <newWizardShortcut
             id="com.google.gwt.eclipse.core.newEntryPointWizard">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
       <newWizardShortcut
             id="com.google.gwt.eclipse.core.newEntryPointWizard">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
       <newWizardShortcut
             id="com.google.gwt.eclipse.core.newEntryPointWizard">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jst.j2ee.J2EEPerspective">
       <newWizardShortcut
             id="com.google.gwt.eclipse.core.newEntryPointWizard">
       </newWizardShortcut>
    </perspectiveExtension>      
   </extension>

</plugin>
